<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/JavaWorkSpace/SeleniumExercises/src/test/java/exercises/GoogleSearchBySuggestion.java"><classes><class name="exercises.GoogleSearchBySuggestion"><methods><include name="googleSearchTest"/></methods></class></classes></test><test verbose="2" preserve-order="true" name="C:/JavaWorkSpace/SeleniumExercises/src/test/java/exercises/MagicBrickClickDropdown.java"><classes><class name="exercises.MagicBrickClickDropdown"><methods><include name="magicBrickDemoTest"/></methods></class></classes></test><test verbose="2" preserve-order="true" name="C:/JavaWorkSpace/SeleniumExercises/src/test/java/exercises/SakraWorldExercise.java"><classes><class name="exercises.SakraWorldExercise"><methods><include name="appointmentTest"/></methods></class></classes></test></suite>